
.screen {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    width: 500px;
    height: 400px;
    background-color: aquamarine;
}

.list {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    width: 500px;
    height: 400px;
    background-color: #00dd88;
}

.country {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;
}

.title{
    font-size: 2em;
}